<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

    <body>
        <h1 class="cover-heading">Bolsa</h1>
        <p class="lead">Se va a desplegar los movimientos de la bolsa.</p>
        <div class="grid-container">
            <div class="grid-item">
                <div class="form-group">
                    <input type="text" id="name" class="form-control" placeholder="Nombre empresa">
                </div>
            </div>
            <div class="grid-item">
                <select class="selectpicker" id = "selectTable" onchange="controller.loadList()">
                    <option value="" disabled selected style="display:none;">Seleccione tipo de consulta</option>
                </select>
            </div>
            <div class="grid-item">
                <button type="submit" class="btn btn-default" onclick="controller.loadList()">Add</button>
            </div>
            <table style="width:100%" class = "table" id="HTMLtable">

            </table>
        </div>

    </body>
</html>
